
*{
    font-family: 'poppins',sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
   text-transform: capitalize;
   transition: all .2s linear;
   border:0;
}

body{
    background-color: #2ecc71;

}

.container{
   
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 25px;
   min-height: 80vh;
   padding-top: 50px;
   
}


.container form{
    padding: 20px;
    width: 600px;
    background-color: #fff;
    box-shadow: 2px 5px 13px rgb(54, 53, 53);
}

.container form .row{
    display: flex;
   flex-wrap: wrap;
    gap: 100px;
}

.container form .row .firstcolum .title{
    font-size: 20px;
    color:#333;
    padding-bottom: 9px;
    text-transform: uppercase;
}
.container form .row .firstcolum .inputbox{
   margin-bottom: 15px;

}
.container form .row .firstcolum .inputbox span{
    margin-bottom: 5px;
    display: block;
 
 }

 .container form .row .firstcolum .inputbox input{
    width: 100%;
    border:1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
  
  }
  
 .submit-btn{
   padding: 12px;
   font-size: 15px;
   background-color: #2ecc71;
   color: #fff;
   margin-top: 5px;
   cursor: pointer;
   width: 100%;
 }

 
